*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  height: 100vh;
  font: 1.8rem Helvetica, Arial;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 5fr; 
  grid-template-rows: 15rem 1fr  5rem;
  height: 100%;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}